<link rel="stylesheet" href="/css/dashboard.css">

<nav>
    <div class="header">
        <img src="/css/logo.png">
        <h1 class="branding">Keep Notes</h1>
        <ul>
        <li>Welcome <%= user.name %></li>
        <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
 </nav>