<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <nav class="navbar1 navbar-default" style="background-color: #beebe9;">
        <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand"><img src="/css/logo.png">Keep Notes</a>
          </div>
            <ul class="nav navbar-nav navbar-right">
              <li id="signin"><a href="/sign_in">Sign In</a></li>
              <li id="signup"><a href="/sign_up">Sign UP</a></li>
              <li id="contact"><a href="/new">CONTACT US</a></li>
            </ul>
        </div>
      </nav>