<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("partials/header.ejs") %>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keep Notes</title>
</head>
<body>
    <h1><%= noteTitle %></h1>
    <p1>  <%= noteContent %></p1>



    <footer>
        <%- include("partials/footer.ejs") %>
       </footer>
       
    
</body>
</html>